<div style="width: 45%; background-color:aliceblue; margin-bottom: 20px">
  <canvas id="canvas1" style="width: 100%;">

  </canvas>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<script>
  const bgl = document.getElementById('canvas1').getContext('2d');
  const bglChart = new Chart(bgl, {
    // display type is line
    type: 'line',
    data: {
      // label list
      labels: {{{dates}}},
      datasets: [{
        label: 'Blood Glucose Level',
        // data list 
        data: {{{datas}}}.bgl,
        backgroundColor: "transparent",
        borderColor: "red",
        borderWidth: 2
      }]
    },
    options: {
      elements: {
        line: {
          tension: 0.5
        }
      },
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>