<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | Diabetes@Home</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/8187ee8ac7.js" crossorigin="anonymous"></script>
</head>

  <body>
    <header class="header">
        <a class="logo" href="/"><img src="/media/diabetes-at-home_logo_colour.png" alt="logo"></a>
        <nav class="navbar">
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="/" class="nav-link"><i class="fa-solid fa-house"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a href="/about-us" class="nav-link"></i>About Us</a>
                <li class="nav-item">
                    <a href="/what-is-diabetes" class="nav-link">What is Diabetes?</a>
                </li>
                <div class="color-theme">
                    <select name="theme-select" id="theme-select">
                        <option value="light">Light</option>
                        <option value="dark">Dark</option>
                    </select>
                </div>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer class="footer">
        <img src="/media/diabetes-at-home_fav.png">
        <p>Diabetes@Home</p>
    </footer>
</body>
<script src="/js/nav.js"></script>
</html>
