<section class="patient-entry">
    <h1 class="title">Entry</h1>
    <form action="/patient/{{this._id}}" method="POST">
        <label> Blood glucose level (in nmol/L):</label>
        <input type="number" name="bgl" min="0" max="999" /></br>
        <label> Bgl Comment</label>
        <input type="text" name="bgl_comment" />

        <label> Weight (in kg):</label>
        <input type="number" placeholder="" name="weight" min="0" max="999" /></br>
        <label> Weight Comment</label>
        <input type="text" name="weight_comment" />

        <label> Doses of insulin taken (number of doses)</label>
        <input type="number" placeholder="" name="doit" min="0" max="999" /></br>
        <label> Insulin Comment</label>
        <input type="text" name="doit_comment" />

        <label> Exercise (step count)</label>
        <input type="number" placeholder="" name="exercise" min="0" max="999" /></br>
        <label> Exercise Comment</label>
        <input type="text" name="ex_comment" />

        <input type="Submit" /></br>
    </form>
</section>