<h1>Patient information</h1>
{{#with oneItem}}
<ul>
    <li>{{this.id}}</li>
    <li>{{this.firstName}}</li>
    <li>{{this.lastName}} </li>
</ul>
{{/with}}

<h1>Entry</h1>
<form action="/patient/{{this.id}}" method="POST">
    <p><input type="number" placeholder="Blood glucose level (in nmol/L)" name="bgl" min="0" max="999" /></p> 
    <p><input type="number" placeholder="Weight (in kg)" name="weight" min="0" max="999" /></p>
    <p><input type="number" placeholder="Doses of insulin taken (number of doses)" name="doit" min="0" max="999" /></p>
    <p><input type="number" placeholder="exercise (step count)" name="exercise" min="0" max="999" /></p>
    <p><input type="submit" /></p>
</form>

<h1>History</h1>
