<section class="patient-information">
    <h1 class="title">Patient information</h1>
    {{#with onePatient}}
    <ul>
        <li>{{this._id}}</li>
        <li>{{this.firstName}}</li>
        <li>{{this.lastName}} </li>
    </ul>
    {{/with}}
</section>