<h1>Patient entry data here</h1>
<ul>
    <p>testing</p>

    <label for="exercise">Exercise:</label>
    <input type="text" id="exercise" name="exercise"><br><br>
    <label for="weight">Weight:</label>
    <input type="text" id="weight" name="weight"><br><br>
    <button id="submitButton"> Submit.</button>
    <!--<input type="submit" value="Submit">-->

</ul>
