<section class="patient-history">
    <h1 class="title">History</h1>
    <div class="responsive-table">
        <table class="patient-history-table">
            <tr>
                <th>Date</th>
                <th>Blood Glucose Level <br />(mmol\L)</th>
                <th>Weight <br />(kg)</th>
                <th>Insulin Count</th>
                <th>Exercise <br />(step count)</th>
            </tr>

            <tr>
                <td>{{record.recordDate}}</td>
                {{#each record.data}}
                <td>{{this.value}}</td>
                {{/each}}
            </tr>
        </table>
    </div>
</section>