<section class="page-title" id="page-title">
    <p><a href="/">Home</a> > About Us</p>
    <h1>About Us</h1>
</section>
<section class="about" id="about">
    <p>We are the company that help people to manage their diabetes in the convenience of their own home, recording data
        that can be monitored remotely by their clinician</p><br />
    <p>To access the features of this website, you need to login or sign up if you are a new member.</p>
</section>
<section class="dev-team" id="team">
    <h2>The Developers</h2>
    <div class="team">
        <div class="developer">Bowen Xu</div>
        <div class="developer">Haoyu Gu</div>
        <div class="developer">Jiayi Zhang</div>
        <div class="developer">Rifqi Imaduddin Irfan</div>
        <div class="developer">Ruifeng Zhan</div>
    </div>
</section>