<nav class="main-menu">
  <ul>
    <li>
      <a href="/patient">
        <i class="fa fa-solid fa-house"></i>
        <span class="nav-text">
          Dashboard
        </span>
      </a>

    </li>

    <li>
      <a href="/patient/updatePwd">
        <i class="fa fa-solid fa-key"></i>
        <span class="nav-text">
          Change Password
        </span>
      </a>
    </li>

    <li>
      <a href="/patient/leaderboard">
        <i class="fa fa-solid fa-trophy"></i>
        <span class="nav-text">
          Leaderboard
        </span>
      </a>
    </li>

    <li>
      <a href="#">
        <i class="fa fa-solid fa-life-ring"></i>
        <span class="nav-text">
          Support
        </span>
      </a>
    </li>
  </ul>

  <ul class="logout">
    <li>
      <a href="/patient/logout">
        <i class="fa fa-power-off"></i>
        <span class="nav-text">
          Logout
        </span>
      </a>
    </li>
  </ul>
</nav>

<section class="change-password">
  <h1> Change Password </h1>
  {{#if message}} <p> {{message}} </p> {{/if}}
  <form id="pwdForm" action="/patient/updatePwd" method="POST">
    <div>
      <label> Current Password: </label>
      <input
        type="password"
        name="oldPwd"
        placeholder="Enter current password"
        required
      />
    </div>
    <br />
    <div>
      <label> New Password: </label>
      <input
        type="password"
        name="newPwd"
        placeholder="Enter new password"
        required
      />
    </div>
    <br />
    <div>
      <label> Confirm Password: </label>
      <input
        type="password"
        name="confirm"
        placeholder="Confirm new password"
        required
      />
    </div>
  </form>
  <br />

  <div>
    <button type="submit" form="pwdForm"> Change </button>
    <br />
    <a href="/patient">
      <button> Back </button>
    </a>
  </div>
</section>