<section class="patient-entry">
    <div class="breadcrumbs-navigation">
        <p><a href="/patient">Home</a> > Entry</p>
    </div>
    <h1 class="title">Entry</h1>
    <div class="patient-entry-form">
        <form action="" method="POST">
            <label class="form-label"> Blood glucose level (in nmol/L):</label>
            <input class="form-input" type="number" name="bgl" min="0" max="999"  step=".01"/></br>
            <label class="form-label"> Blood glucose level comment</label>
            <input type="text" name="bgl_comment" /><br/>

            <label class="form-label"> Weight (in kg):</label>
            <input type="number" placeholder="" name="weight" min="0" max="999" /></br>
            <label class="form-label"> Weight comment</label>
            <input type="text" name="weight_comment" /><br/>

            <label class="form-label"> Doses of insulin taken (number of doses)</label>
            <input type="number" placeholder="" name="doit" min="0" max="999" /></br>
            <label class="form-label"> Doses of insulin comment</label>
            <input type="text" name="doit_comment" /><br/>

            <label class="form-label"> Exercise (step count)</label>
            <input type="number" placeholder="" name="exercise" min="0" max="99999" /></br>
            <label class="form-label"> Exercise comment</label>
            <input type="text" name="ex_comment" /><br/>

            <input type="Submit" value="Submit" class="submit-button" /></br>
        </form></br>
    </div>
    </div>
        <a href="/patient">
            <button class="back-button"> Back </button>
        </a>
    </div>
</section>
