<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Diabetes@Home</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/jpg" href="media/diabetes-at-home_fav.png" />
    <script src="https://kit.fontawesome.com/8187ee8ac7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"
        crossorigin="anonymous" />
</head>
<header>
    <nav class="navbar">
        <div class="logo">
            <a class="logo" href="index.html"><img class="logo" src="media/diabetes-at-home_logo_colour.png"
                    alt="logo"></a>
        </div>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="index" class="nav-link"><i class="fa-solid fa-house"></i> Home</a>
            </li>
            <li class="nav-item">
                <a href="aboutus" class="nav-link"></i>About Us</a>
            <li class="nav-item">
                <a href="what-is-diabetes" class="nav-link">What is Diabetes?</a>
            </li>
        </ul>
        <a class="cta" href="login.html"><button id="button">Login</button></a>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>

<body>
    <section class="intro" id="intro">
        <div class="carousel">
            <h1>Diabetes@Home</h1>
            <p><em>Your solution to attack diabetes!</em></p>
        </div>
    </section>
    <section class="about" id="about">
        <div></div>
        <h2>About Diabetes@Home</h2>
        <p>We are the company that help people to manage their diabetes in the convenience of their own home, recording
            data that can be monitored remotely by their clinician</p><br />
        <p>To access the features of this website, you need to login or sign up if you are a new member.</p>
    </section>
    <section class="dev-team" id="team">
        <h2>The Developers</h2>
        <div class="team">
            <div class="developer">Bowen Xu</div>
            <div class="developer">Haoyu Gu</div>
            <div class="developer">Jiayi Zhang</div>
            <div class="developer">Rifqi Imaduddin Irfan</div>
            <div class="developer">Ruifeng Zhan</div>
        </div>
    </section>
</body>
<footer class="footer">
    <p>Diabetes@Home | Made in Australia <span class="flag-icon flag-icon-au"></span><br></p>
</footer>
<script src="/js/main.js"></script>

</html>