<section class="home-page">
  <div class="home-image">
    <img src="/media/friends.jpeg">
  </div>
  <div class="home-navigation">
    <h1 class="home-word">Diabetes@Home</h1>
    <h1 class="home-word">Log in your account</h1>
    <div class="home-clinician">
      <a href="/clinician"><button class="home-clinician button">Clinician</button></a>
    </div>
    <div class="home-patient">
      <a href="/patient"><button class="home-patient button">Patient</button></a>
    </div>
  </div>
</section>