<section class="login-page">
    <div class="logo-login-page">
        <img src="/media/diabetes-at-home_fav.png">
    </div>
    <div class="login-page-form">
        <form>
            <label>Username</label></br>
            <input type="text" name="username" /></br>

            <label>Password</label></br>
            <input type="password" name="password" /></br>
        </form>
    </div>
</section>