<form action="" method="POST">
    <label> Patient's First Name:</label>
    <input type="text" name="firstName" /></br>

    <label> Patient's Last Name:</label>
    <input type="text" name="lastName" /></br>

    <label> Patient's email:</label>
    <input type="text" name="email" /></br>

    <label> Patient's Year od Birth:</label>
    <input type="text" name="yearOfBirth" /></br>

    <button type="submit" class="submit-button">Submit</button>
</form>