<h1> View Last 15 Days History Data </h1>
<div>
  {{> bgl dates=dates datas=datas}}
  {{> weight dates=dates datas=datas}}
  {{> doit dates=dates datas=datas}}
  {{> exercise dates=dates datas=datas}}
</div>