<section class="page-title" id="page-title">
    <p><a href="/">Home</a> > What is Diabetes?</p>
    <h1>What is Diabetes?</h1>
</section>
<section class="description" id="desc">
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Mko250V6PYI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div><br/>
    <h2><i class="fa-solid fa-magnifying-glass"></i> Diabetes</h2>
    <article>Diabetes is a disease that occurs when your blood glucose, also called blood sugar, is too high. Blood glucose is your main source of energy and comes from the food you eat. Insulin, a hormone made by the pancreas, helps glucose from food get into your cells to be used for energy. Sometimes your body doesn’t make enough—or any—insulin or doesn’t use insulin well. Glucose then stays in your blood and doesn’t reach your cells<sup>1</sup>.</article><br/>
    <h2><i class="fa-solid fa-list"></i> Types of Diabetes</h2>
    <article>There are several types of diabetes, such as Type 1, Type 2, and gestational diabetes. <br/><strong>Type 1 diabetes</strong> can develop at any age, but occurs most frequently in children and adolescents. When you have type 1 diabetes, your body produces very little or no insulin, which means that you need daily insulin injections to maintain blood glucose levels under control<sup>2</sup>. <br/><strong>Type 2 diabetes</strong> is more common in adults and accounts for around 90% of all diabetes cases. When you have type 2 diabetes, your body does not make good use of the insulin that it produces. The cornerstone of type 2 diabetes treatment is healthy lifestyle, including increased physical activity and healthy diet. However, over time most people with type 2 diabetes will require oral drugs and/or insulin to keep their blood glucose levels under control<sup>2</sup>. <br/><strong>Gestational diabetes (GDM)</strong> is a type of diabetes that consists of high blood glucose during pregnancy and is associated with complications to both mother and child. GDM usually disappears after pregnancy but women affected and their children are at increased risk of developing type 2 diabetes later in life<sup>2</sup>.</article><br/>
    <h2><i class="fa-solid fa-stethoscope"></i> Causes</h2>
    <article>Over time, high blood glucose leads to problems such as heart disease, stroke, kidney disease, eye problems, dental disease, nerve damage, and foot problems<sup>1</sup>.</article><br/>
    <h2><i class="fa-solid fa-triangle-exclamation"></i> Symptoms</h2>
    <article>Symptoms of type 1 diabetes include the need to urinate often, thirst, constant hunger, weight loss, vision changes and fatigue. These symptoms may occur suddenly. Symptoms for type 2 diabetes are generally similar to those of type 1 diabetes, but are often less marked. As a result, the disease may be diagnosed several years after onset, after complications have already arisen. For this reason, it is important to be aware of risk factors<sup>4</sup>. </article><br/>
</section>
<section class="key-facts">
    <h2><i class="fa-solid fa-key"></i> Key Facts</h2>
    <div id="grid">
        <div>
            <p><div id="number">537 million</div> adults are living with diabetes<sup>3</sup>.</p>
        </div>
        <div>
            <p><div id="number">9<sup>th</sup></div>In 2019, diabetes was the ninth leading cause of death with an estimated 1.5 million deaths directly caused by diabetes<sup>2</sup>.</p>
        </div>
        <div>
            <p><div id="number">US$ 966 billion</div>A total health expenditure caused by diabetes– a 316% increase over the last 15 years<sup>3</sup>.</p>
        </div>
        <div>
            <p><div id="number">30%</div>of all people with diabetes occur depression, anxiety and distress<sup>5</sup>.</p>
        </div>
        <div>
            <p>Diabetes is a major cause of blindness, kidney failure, heart attacks, stroke and lower limb amputation<sup>4</sup>.</p>
        </div>
        <div>
            <p>Diabetes can be treated and its consequences avoided or delayed with diet, physical activity, medication and regular screening and treatment for complications<sup>4</sup>.</p>
        </div>
    </div>
</section>
<section class="source">
    <h2><i class="fa-solid fa-book-bookmark"></i> Source</h2>
    <p><sup>1</sup> <em>National Institute of Diabetes and Digestive and Kidney Diseases</em>, <a href="https://www.niddk.nih.gov/health-information/diabetes/overview/what-is-diabetes">https://www.niddk.nih.gov/health-information/diabetes/overview/what-is-diabetes</a></p>
    <p><sup>2</sup> <em>International Diabetes Foundation</em>, <a href="https://www.idf.org/aboutdiabetes/what-is-diabetes.html">https://www.idf.org/aboutdiabetes/what-is-diabetes.html</a></p>
    <p><sup>3</sup> <em>IDF Diabetes Atlas</em>, <a href="https://diabetesatlas.org/">https://diabetesatlas.org/</a></p>
    <p><sup>4</sup> <em>World Health Organization</em>, <a href="https://www.who.int/news-room/fact-sheets/detail/diabetes">https://www.who.int/news-room/fact-sheets/detail/diabetes</a></p>
    <p><sup>5</sup> <em>Diabetes Australia</em>, <a href="https://www.diabetesaustralia.com.au/about-diabetes/what-is-diabetes/">https://www.diabetesaustralia.com.au/about-diabetes/what-is-diabetes/</a></p>
</section>