<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | Diabetes@Home</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

  <body>
    <header class="header">
        <nav class="navbar">
            <section class="logo">
                <a class="logo" href="index.html"><img src="/media/diabetes-at-home_logo_colour.png" alt="logo"></a>
            </section>
            <section class="menu">
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fa-solid fa-house"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"></i>About Us</a>
                    <li class="nav-item">
                        <a href="#" class="nav-link">What is Diabetes?</a>
                    </li>
                </ul>
            </section>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer class="footer">
        <img src="/media/diabetes-at-home_fav.png">
        <p>Diabetes@Home</p>
    </footer>
</body>
</html>